.navContainer {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: flex-end;

  width: 100%;
}

@media (max-width: 800px) {
  .navContainer {
    display: none;
  }
}

.navList {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

ul.navList {
  list-style-type: none;
}

.navList::after {
  content: '';
  height: 2rem;
  border-inline-end: 1px solid var(--sl-color-gray-5);
}

.navItem {
  display: flex;

  align-items: center;
  justify-content: center;

  transition: all 0.2s ease;

  &:hover {
    color: var(--sl-color-text-invert);
    background-color: var(--sl-color-text-accent);
  }

  &.isCurrent {
    background-color: var(--sl-color-gray-5);
  }

  &:active {
    background-color: var(--sl-color-gray-4);
  }

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    word-break: keep-all;
    color: var(--text-color);

    padding: 0.5rem 1rem;
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    word-break: keep-all;
    color: var(--text-color);
    text-decoration: none;

    padding: 0.5rem 1rem;
  }
}

.navDrop {
  position: relative;

  >a::after,
  >span::after {
    display: inline-block;
    font-size: small;
    content: '▼';
    margin-left: 0.5rem;
  }
}

.navDropMenuContainer {
  position: absolute;
  top: 100%;
  right: 0;
  left: 20px;
  z-index: 1000;

  border: 1px solid var(--sl-color-gray-5);
  padding: 0.5rem;

  /* Hidden by default override to flex */
  flex-direction: column;
  align-items: flex-start;

  background-color: var(--sl-color-gray-6);
}

.navDropMenu {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0;
  margin: 0;
  gap: 0.25rem;
}

ul.navDropMenu {
  list-style-type: none;
}

.navDropMenuItem {
  display: flex;
  width: 100%;

  align-items: center;
  justify-content: flex-start;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--sl-color-gray-5);
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    word-break: keep-all;

    width: 100%;

    color: var(--text-color);
    text-decoration: none;

    padding: 0.25rem 1rem;
  }
}
