---
import TopBar from '@/components/controls/TopBar.astro';
import Sidebar from '@/components/controls/Sidebar.astro';
import Content from '@/components/layouts/Content.astro';

import initialize from '@/assets/scripts/init?inline-bundle';
import '@/assets/styles/globals.css';

const props = Astro.props.frontmatter || Astro.props;
const { title } = props;
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <script is:inline set:html={initialize} />
  </head>
  <body>
    <main class="container">
      <div class="topBarContainer">
        <TopBar />
      </div>
      <div class="sideBarContainer">
        <Sidebar />
      </div>
      <div class="mainContent">
        <Content>
          <slot />
        </Content>
      </div>
    </main>
  </body>
</html>

<style>
  .container {
    display: grid;
    grid-template-areas:
      'topbar topbar'
      'sidebar main';
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;

    height: 100vh;
    width: 100vw;
  }

  .topBarContainer {
    grid-area: topbar;
  }

  .sideBarContainer {
    grid-area: sidebar;
  }

  .mainContent {
    grid-area: main;
  }
</style>
