---
import Search from '@astrojs/starlight/components/Search.astro';
import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';

import { findConfig } from '@/utils/paths';
import { isNavConfig } from '@/utils/navbar';
import { loadToml } from '@/utils/toml';
import { Navigation } from '@/components/controls/nav';

function getNavConfig() {
  const currentContent = Astro.locals.starlightRoute.entry.filePath;
  const navConfig = findConfig(currentContent, 'nav.config.toml');

  if (navConfig.isOk()) {
    const toml = loadToml(navConfig.value);
    if (toml.isOk() && isNavConfig(toml.value)) {
      return toml.value;
    }
  }

  return null;
}
const config = getNavConfig();
---

<div class="header">
  <div class="title-wrapper sl-flex">
    <SiteTitle />
  </div>
  <div class="sl-flex print:hidden">
    {config && <Navigation config={config} client:load />}
    <Search />
  </div>
</div>

<style scoped>
  .header {
    display: flex;
    gap: var(--sl-nav-gap);
    justify-content: space-between;
    align-items: center;

    height: 100%;
  }

  .title-wrapper {
    overflow: clip;

    min-width: 0;
    padding: 0.25rem;
    margin: -0.25rem;
  }

  @media (min-width: 50rem) {
    .header {
      display: grid;
      grid-template-columns: max-content 1fr;
      align-content: center;
    }
  }
</style>
