---
import type { GetStaticPaths } from "astro";
import Main from "@/components/layouts/Main.astro";
import Card from "@/components/Card.astro";
import { layerCollection, resolveLayer } from "@/utils/layers";

export const getStaticPaths = (async () => {
  const layers = await layerCollection();

  return layers
    .filter((layer) => !!layer.slug)
    .map((layer) => ({
      params: { layer: layer.slug },
      props: { layer },
    }));
}) satisfies GetStaticPaths;

const layer = await resolveLayer(Astro.props.layer);
const sections = layer.sections;
---

<Main title={layer.title}>
  <h1>{layer.title}</h1>
  {
    sections.map((section) => (
      <section>
        <h2 class="section-title">{section.title}</h2>
        <Card items={section.items} />
      </section>
    ))
  }
</Main>
