---
import type { GetStaticPaths } from 'astro';
import Main from '@/components/layouts/Main.astro';
import { contentCollection } from '@/utils/contents';

export const getStaticPaths = (async () => {
  const collection = contentCollection();

  return collection.map((content) => ({
    params: { folder: content.path },
    props: { content },
  }));
}) satisfies GetStaticPaths;

const { content } = Astro.props;
const { config } = content;
---

<Main title={config.title}>
  <h1>{config.title}</h1>

  {
    config.sections?.length > 0 &&
      config.sections.map((section) => (
        <section>
          <h2>{section.title}</h2>
          <ul>
            {section.items.map((item) => (
              <li>{item}</li>
            ))}
          </ul>
        </section>
      ))
  }
</Main>
