---
import type { GetStaticPaths } from 'astro';
import Main from '@/components/layouts/Main.astro';
import { articleCollection } from '@/utils/articles';

export const getStaticPaths = (async () => {
  return (await articleCollection()).map((article) => ({
    params: { slug: article.data.permalink },
    props: { entry: article },
  }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Main title={entry.data.title} currentTag={entry.data.tag}>
  <Content />
</Main>
