---
import type { GetStaticPaths } from 'astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import Main from '@/components/layouts/Main.astro';

export const getStaticPaths = (async () => {
  const allContents = (await getCollection('contents')) as CollectionEntry<'contents'>[];

  return allContents.map((content) => ({
    params: { slug: content.data.permalink },
    props: { entry: content },
  }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { title } = entry.data;
const { Content } = await entry.render();
---

<Main title={title}>
  <Content />
</Main>
