---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import Main from '@/components/layouts/Main.astro';

export const getStaticPaths = (async () => {
  const allArticles = await getCollection('articles');

  return allArticles.map((article) => ({
    params: { slug: article.data.permalink },
    props: { entry: article },
  }));
}) satisfies GetStaticPaths;

const { entry } = Astro.props;
const { title } = entry.data;
const { Content } = await entry.render();
---

<Main title={title}>
  <Content />
</Main>
