---
import Main from "@/components/layouts/Main.astro";
import Card from "@/components/Card.astro";
import { resolveLayer } from "@/utils/layers";
import { getEntry } from "astro:content";

const rootLayer = await getEntry('layers', '/')!;
const layer = await resolveLayer(rootLayer);
const sections = layer.sections;
---

<Main title={layer.title}>
  <h1>{layer.title}</h1>
  {
    sections.map((section) => (
      <section>
        <h2 class="section-title">{section.title}</h2>
        <Card items={section.items} />
      </section>
    ))
  }
</Main>
