---
import { clean, currentLayer } from '@/utils/paths';
import { layerCollection } from '@/utils/layers';
import SidebarLayer from './SidebarLayer.astro';

const currentPath = clean(Astro.url.pathname);
const currentLayerPath = await currentLayer(currentPath);

const layers = await layerCollection();
---

<aside id={'sidebar'} class={'sidebar'} data-current-path={currentLayerPath}>
  <div class={'sidebarContainer'}>
    {layers.map((layer) => <SidebarLayer layer={layer} />)}
  </div>
</aside>

<script>
  import { onItemClick } from '@/utils/sidebar';

  function initSidebar() {
    document.querySelectorAll('[data-target-path]').forEach((button) => {
      button.addEventListener('click', onItemClick);
    });
  }

  initSidebar();
  document.addEventListener('astro:page-load', initSidebar);
</script>

<style>
  .sidebar {
    height: 100%;
    width: 250px;
    padding: 1rem 2rem;

    color: var(--text-color);
    background-color: var(--control-background-color);

    display: flex;
    flex-direction: column;

    border-right: 1px solid var(--border-color);
    overflow: hidden;
  }

  .sidebarContainer {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
