---
import styles from './SideBar.module.css';
---

<aside id="sidebar" class:list={[styles.sidebar]}>
  <nav>
    <ul class={styles.navList}>
      <li class={styles.navItem}><a href="/">Home</a></li>
      <li class={styles.navItem}><a href="/about">About</a></li>
      <li class={styles.navItem}><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</aside>
