---
import { Icon } from 'astro-icon/components';

import styles from './ThemeToggle.module.css';
---

<button id="theme-toggle" class={styles.toggleButton}>
  <div class={styles.iconLight}>
    <Icon name="mdi:weather-sunny" />
  </div>
  <div class={styles.iconDark}>
    <Icon name="mdi:moon-and-stars" />
  </div>
</button>

<script>
  // @see ThemeHandler
  declare function getTheme(): 'light' | 'dark';
  declare function setTheme(theme: 'light' | 'dark'): void;

  const toggleElement = document.querySelector('#theme-toggle');

  if (toggleElement) {
    toggleElement.addEventListener('click', () => {
      const html = document.documentElement;

      if (html.classList.contains('switch')) {
        return;
      }

      html.classList.add('switch');

      if (getTheme() === 'dark') {
        setTheme('light');
      } else {
        setTheme('dark');
      }

      const handleTransitionEnd = () => {
        html.classList.remove('switch');
        html.removeEventListener('transitionend', handleTransitionEnd);
      };

      html.addEventListener('transitionend', handleTransitionEnd);
    });
  }
</script>
