---
import ThemeToggle from './ThemeToggle.astro';
import styles from './TopBar.module.css';
---

<header class={styles.header}>
  <div>
    <a href="/" class={styles.logo}>
      <span>Lru Note</span>
    </a>
  </div>

  <ThemeToggle />
</header>
