---
import SidebarToggle from './SidebarToggle.astro';
import SearchToggle from './SearchToggle.astro';
import ThemeToggle from './ThemeToggle.astro';

import Logomark from '@/assets/images/logo.svg';
---

<header class="header">
  <SidebarToggle />

  <div>
    <a href="/" class="logo">
        <Logomark height="32px" width="110px" />
    </a>
  </div>

  <div class="controls">
    <SearchToggle />
    <ThemeToggle />
  </div>
</header>

<style>
  .header {
    color: var(--text-color);
    background-color: var(--control-background-color);
    z-index: var(--control-z);

    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--border-color);
  }

  .logo {
      display: flex;
      align-items: center;
        color: var(--text-color);
        text-decoration: none;
  }

  .controls {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
</style>
