@import "@catppuccin/palette/css/catppuccin.css";

@import "./article.css";
@import "./codeblock.css";

:where(html) {
  --font-sans: var(--font-udp), sans-serif;
  --font-mono: var(--font-console), monospace;

  --overlay-z: 1000;
  --control-z: 1500;

  --radius: 7px;
  --content-width: 1000px;
  --sidebar-width: 320px;
}

html.light {
  --text-color: var(--ctp-latte-text);
  --invert-text-color: var(--ctp-latte-mantle);
  --text-muted: var(--ctp-latte-subtext0);

  --background-color: var(--ctp-latte-base);
  --invert-background-color: var(--ctp-latte-text);
  --control-background-color: var(--ctp-latte-mantle);

  --accent-color: var(--ctp-latte-sky);
  --accent-soft: color-mix(in srgb, var(--accent-color) 20%, var(--background-color));

  --border-color: var(--ctp-latte-overlay0);
  --link-color: var(--ctp-latte-sapphire);
}

html.dark {
  --text-color: var(--ctp-mocha-text);
  --invert-text-color: var(--ctp-mocha-mantle);
  --text-muted: var(--ctp-mocha-subtext0);

  --background-color: var(--ctp-mocha-base);
  --invert-background-color: var(--ctp-mocha-text);
  --control-background-color: var(--ctp-mocha-mantle);

  --accent-color: var(--ctp-mocha-sky);
  --accent-soft: color-mix(in srgb, var(--accent-color) 20%, var(--background-color));

  --border-color: var(--ctp-mocha-overlay0);
  --link-color: var(--ctp-mocha-sapphire);
}

html.switch * {
  /* force theme transition */
  /* eslint-disable css/no-important -- enforcement for theme transition */
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    fill 0.2s ease-in-out,
    stroke 0.2s ease-in-out !important;
}

body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  color: var(--text-color);
  background-color: var(--background-color);

  line-height: 1.5;
  font-family: var(--font-sans);
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
